@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "poppins", serif;
    background-color: #ECE2D0;
}
.food-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 5%;
}
img{
    width: 60vw;
    height: 50vh;
}
.comment-container{
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin-left: 5%;
}
textarea{
    margin-bottom: 10px;
    font-size: 10px;
    height: 5vh;
}

button{
    width: 50%;
    height: 5vh;
    margin-top: 7px;
    margin-left: 25%;
    border: none;
    background-color: #E6CCB2;
    color: #7F5539;
    cursor: pointer;
    border-radius: 15px;
}
button:hover{
    background-color: #DDB892;
}

.comentario{
    background-color: white;
    margin: 5px;
    padding: 10px;
    
}